{% extends "juice/templates/index.html" %}

{% block title %}{{ config.extra.meta_title }}{% endblock title %}

{% block head %}
<meta name="keywords"
      content="ourhq, hackerspace, youth, lds, mormon">
<meta itemprop="name"
      content="{{ config.extra.meta_title }}">
<meta itemprop="description"
      content="{{ config.extra.meta_description }}">

<meta property="og:url" content="https://ourhq.hsiao.dev">
<meta property="og:type" content="website">
<meta property="og:title"
      content="{{ config.extra.meta_title }}">
<meta property="og:description"
      content="{{ config.extra.meta_description }}">
<meta name="theme-color" content="#ffffff">
<link rel="icon" href="{{ get_url(path="ourhq.svg") }}">
<link rel="stylesheet" href="{{ get_url(path="index.css") }}">
{% endblock head %}

{% block hero %}
<div class="hero-content">
    <section style="padding:10px">
        <h1 class="text-center heading-text">
            An inclusive online community for youth
        </h1>
        <h3 class="text" style="text-align: center;">
            <b>OurHQ</b> is an inclusive online community for youth and mentors to meet, socialize, collaborate, create, design, and play.
        </h3>
        <div style="margin-top: 50px; display: flex; flex-direction: column; align-items: center">
            <a class="btn-download discord"
               href="https://discord.com"
               target="_blank">
                 Get a Discord Invitation 
            </a>
        </div>
    </section>
    <img class="hero-image" src="{{ get_url(path="ourhq.svg") }}" alt="ourhq-logo">
</div>

<div class="explore-more text"
     onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
</div>

<script>
    function mobilizeDownloadButton() {
        let navigator = window.navigator.userAgent.toLocaleLowerCase();
        if (window.innerWidth < 768) {
            document.querySelectorAll('.btn-download').forEach((element) => {
                element.classList.add('hide');
            });
            let target = 'discord';
            document.querySelector(`.${target}`).classList.remove('hide');
        } else {
            document.querySelectorAll('.btn-download').forEach((element) => {
                element.classList.remove('hide');
            });
        }
    }

    mobilizeDownloadButton();
    window.onresize = function () {
        mobilizeDownloadButton();
    };
</script>
{% endblock hero %}

{% block footer %}
<footer>
    <small class="subtext">
        Made collaboratively by the members of OurHQ.
    </small>
</footer>
<script>
    window.onmessage = e => {
        e.data.hasOwnProperty("frameHeight") && (document.getElementById("footer").style.height = `${e.data.frameHeight}px`)
    }
</script>
{% endblock footer %}
